In [23]:
# %pip install kafka-python

In [24]:
import pandas as pd
from time import sleep
from json import dumps
import json

from kafka import KafkaProducer, KafkaConsumer

### Producer connect

In [25]:
producer = KafkaProducer(bootstrap_servers=['54.147.241.225:9092'],
                        value_serializer = lambda x:dumps(x).encode('utf-8')
                            )

In [26]:
# producer.DEFAULT_CONFIG

producer.bootstrap_connected()

True

In [27]:
# test 
producer.send('topicstk', value={'test':'testval1'})

### Simulate stock market data JPX-kaggle, feed to producer and listen on consumer

In [28]:
data = pd.read_csv('../jpx_kaggle_data/stock_prices.csv')
data = data[['RowId','Date','SecuritiesCode','Open','High','Low','Close','Volume']]
data.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800

In [32]:
producer.flush() # clear previous data

In [31]:
# simulate for 20 samples
producer.flush() # clear previous data
for _ in range(100):
    row = data.sample(1).to_dict(orient='records')[0]
    producer.send('topicstk', row)